@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-text {
  font-family: 'Poppins';
}

.login-header {
  font-size: 3rem;
  font-weight: 500;
}

.login-button {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.16rem;
  border: none;
  color: rgba(0, 0, 0, 0.53);
  display: flex;
  height: 4rem;
  width: 19rem;
  padding: 21.495px;
  align-items: center;
  gap: 21.495px;
  border-radius: 10.997px;
  background: #FFF;
  box-shadow: 0px 38.486881256103516px 71.47562408447266px 0px rgba(0, 0, 0, 0.07);
}

.login-status {
  position: relative;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
  margin-top: 3rem;
}

.gmail-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
}

.unsubscribe-animation {
  width: 4rem;
}

.login-subtitle {
  color: rgba(0, 0, 0, 0.63);
  font-size: 1.15rem;
}
