@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions {
  font-family: "Poppins";
  font-size: 0.8rem;
  color: white;
}

.login-prompt-container {
  text-align: center;
}

.login-text {
  font-family: 'Poppins';
}

.login-header {
  font-size: 3rem;
  font-weight: 500;
}

.login-button {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.16rem;
  border: none;
  color: rgba(0, 0, 0, 0.53);
  display: flex;
  height: 4rem;
  width: 16rem;
  padding: 21.495px;
  align-items: center;
  gap: 21.495px;
  border-radius: 10.997px;
  background: #FFF;
  box-shadow: 0px 38.486881256103516px 71.47562408447266px 0px rgba(0, 0, 0, 0.07);
}

.login-status {
  position: relative;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(41, 41, 41, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 1.1rem 1.6rem;
  border-radius: 7px;
}

.profile {
  position: absolute;
  top: 1rem;
  left: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 16rem;
}

.profile-emails {
  position: relative;
  width: 90%;
  height: 80%;
  margin-top: 1rem;
}

.name-text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2px;
}

.email-text {
  font-size: 0.8rem;
  line-height: 2px;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
  margin-top: 2rem;
}

.email-options {
  width: 14rem;
  height: 26rem;
  margin-right: 1rem;
  margin-top: 4rem;
}

.emails-list {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(204, 204, 204, 0.75);
  width: 79.2%;
  height: 100%;
  border-radius: 10px;
}

.emails {
  background: linear-gradient(115deg, #000000 0%, #00C508 55%, #000000 100%), linear-gradient(115deg, #0057FF 0%, #020077 100%), conic-gradient(from 110deg at -5% 35%, #000000 0deg, #FAFF00 360deg), conic-gradient(from 220deg at 30% 30%, #FF0000 0deg, #0000FF 220deg, #240060 360deg), conic-gradient(from 235deg at 60% 35%, #0089D7 0deg, #0000FF 180deg, #240060 360deg);
  background-blend-mode: soft-light, soft-light, overlay, screen, normal;
  height: 38rem;
  border-radius: 10px;
  display: flex;
  padding: 1rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-text {
  color: white;
}

.gmail-avatar {
  width: 2rem;
  height: 2rem;
  margin-right: 0.8rem;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 1rem;
}

.unsubscribe-animation {
  width: 4rem;
}

.tab-button-unselected {
  font-family: "Poppins";
  color: rgb(109, 109, 109);
  margin: 0 0 0.5rem 0;
  width: 15rem;
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(180, 180, 180, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 0.8rem 0 0.8rem 1rem;
  border-radius: 7px;
}

.tab-button-selected {
  font-family: "Poppins";
  color: white;
  margin: 0 0 0.5rem 0;
  width: 15rem;
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(67, 67, 67, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 0.8rem 0 0.8rem 1rem;
  border-radius: 7px;
}

.login-subtitle {
  color: rgba(0, 0, 0, 0.63);
  font-size: 1.15rem;
}

.profile-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}
